<!DOCTYPE html>
{% extends "TestApp/base.html" %}
{%block title_block%}{{post.title}}{%endblock%}

{%block content_block%}
<h2 class="tt">{{post.title}}</h2>
<p id="date">Published On {{post.publish}} By {{post.author|title}}</p>
{{post.body|linebreaks}}
{% with comments.count as comments_count %}
<h2 id="ctn">{{comments_count}} Comment{{comments_count|pluralize}}</h2>
{% endwith%}
{%if comments %}
{%for comment in comments %}
<div class="cbb">
<p id='ch'> Comment {{forloop.counter}} By {{comment.name}} On {{comment.created}}</p>
<div class="cb">{{comment.body|linebreaks}}</div>
</div>
<hr>
{%endfor%}
{%else%}
<p id="one">There are NO Comments Yet!!!</p>
{%endif%}
{%if csubmit %}
<h2 class="cc">Your Comment Added Succefully...</h2>
{%else%}
<form method="post">
{{form.as_p}}
{%csrf_token%}
<input type="submit" name="" value="Submit Comment" type="button" class="btn btn-success">
</form>
{%endif%}
{%endblock%}
